@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-color: #ea0909;
  --custom-gray: #717474;
  --wcu-span-dot: #f40106;
  --wcu-set-title-color: #222323;
  --wcu-set-hr-red: #f40106;
  scroll-behavior: smooth;

  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans-Regular.ttf') format('truetype'); /* Update the path accordingly */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebasNeue';
  src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'); /* Update the path accordingly */
  font-weight: normal;
  font-style: normal;
}
