@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.footer {
  background-color: #222323;
  color: white;
  padding: 50px 50px;

}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
}

.footer__info,
.footer__navigation,
.footer__shop,
.footer__follow_us {
  flex: 1;
  max-width: 100%;
  margin-bottom: 20%;
}

.footer__text {
  line-height: 1.5;
}

.footer__caption {
  font-size: 24px;
  margin-bottom: 15px;
}

.footer__logo {
  width: 168px;
  display: flex;
  align-items: center;
}

@media (min-width: 368px) {
  .footer__logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.footer__summary {
  color: #9b9b9b;
  display: block;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: auto;
  font-size: 16px;

}

.footer__divider {
  height: 2px;
  width: 60px;
  background-color: #f40106;
  margin: 10px 0;
}

.footer__menu {
  list-style: none;

}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  
}

.footer__menu li {
  margin-right: 15px;
}

.footer__menu-item {
  margin-bottom: 8px;
}

.footer__menu-item a,
.footer__text,
.footer__caption {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.footer__menu-item a:hover {
  color: #f40106;
  text-decoration: underline;
}

.media_logo {
  width: 30px;
  

}

.footer__bottom {
  background-color: #222323;
  color: white;
  text-align: center;
  padding: 15px;
}

.footer__creators,
.footer__copyright {
  font-size: 14px;
  margin: 5px 0;
}



  .footer__summary,
  .footer__navigation,
  .footer__shop,
  .footer__follow_us {
    flex: 100%;
    max-width: 100%;
  }
