@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.footer {
  background-color: #222323;
  color: white;
  padding: 30px 20px;
  width: 100%; 
  margin: 0 auto; 
}

@media (min-width: 800px) {
.footer__creators, .footer__copyright {
    flex-direction: row;
    align-items: baseline;
}
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 50px;

}

.footer__info,
.footer__navigation,
.footer__shop,
.footer__follow_us {
  grid-column: span 1;
}

.footer__info {
  align-items: center;
  grid-column: 1 / span 2;
}

.footer__logo img {
  width: 100%;
  max-width: 180px;
}

.footer__summary {
  color: #9b9b9b;
  margin-top: 15px;
  font-size: 16px;
  font-family: "PT Sans", serif;
}

.footer__menu {
  font-family: "PT Sans", serif;
}

.footer__caption {
  font-family: "Bebas Neue", serif;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 33px;
}
.footer__caption__last {
  font-family: "Bebas Neue", serif;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 62px;
}

.footer__divider {
  height: 2px;
  width: 60px;
  background-color: #f40106;
  margin-bottom: 15px;
  margin-left: 30px;

}

.footer__divider__last {
  height: 2px;
  width: 60px;
  background-color: #f40106;
  margin-bottom: 15px;
  margin-left: 80px;

}

.footer__menu,
.footer__links {
  list-style-type: none;
}

.footer__links {
  display: flex;
  flex-direction: row;

}

/*.footer__dividers {
  width: 90%;
  color: #9b9b9b;
}*/


.footer__menu-item,
.footer__links li {
  margin-bottom: 8px;
}

.footer__menu-item a,
.footer__links a,
.footer__text,
.footer__caption {
  text-decoration: none;
  color: white;
}

.footer__menu-item a:hover,
.footer__links a:hover {
  color: #f40106;
  text-decoration: underline;
}

.media_logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.media_logo:hover {
  filter: invert(0.15);
}

.footer__creators, .footer__copyright {
  background-color: #222323;
  color: white;
  font-family: "Bebas Neue", serif;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  font-size: 14px;
  margin: 5px 0;
}

.footer__creators{
  grid-column: 1/4;
}
.footer__copyright {
  grid-column: 4/6;
  justify-content: end;
}

@media screen and (max-width: 640px) {

  .footer,
  .footer__container,
  .footer__info,
  .footer__navigation,
  .footer__shop,
  .footer__follow_us,
  .footer__creators,
  .footer__copyright
  {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
  





