@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.footer {
  background-color: #222323;
  color: white;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
}

.footer__summary,
.footer__navigation,
.footer__shop,
.footer__follow_us {
  flex: 1;
  max-width: 100%;
  margin-bottom: 20px;
}

.footer__text {
  line-height: 1.5;
}

.footer__caption {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__divider {
  height: 2px;
  width: 50%;
  background-color: #f40106;
  margin-bottom: 15px;
}

.footer__menu {
  list-style-type: none;

}
.footer__links {
  display: flex;
  flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}
 .footer__menu li {
    margin-right: 15px; 
  } 
.footer__menu-item {
  margin-bottom: 8px;
}

.footer__menu-item a,
.footer__text,
.footer__caption {
  text-decoration: none;
  color: white;
}

.footer__menu-item a:hover {
  color: #f40106;
  text-decoration: underline;
}

.media_logo {
  width: 30px;
  height: auto;
  
}

.footer__bottom {
  background-color: #222323;
  color: white;
  text-align: center;
  padding: 15px;
}

.footer__creators,
.footer__copyright {
  font-size: 14px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer__container {
    padding: 10px; 
  }
  footer__summary,
  .footer__navigation,
  .footer__shop,
  .footer__follow_us {
    flex: 100%; 
    max-width: 100%;
  }
}
