.header {
    padding: 5 px;  
    
}

.header__address{
    background-color: red; 
    font-family: 'PT Sans', sans-serif;
    color:white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}



.header__navbar{
    background-color: #222323;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    
    
}

.header__logo-img{
    height: auto;
    width: 168px;
    margin-top: 5px;
    margin-left: 5px;
    
}



.header__contacts{
    background-color: #000000;
    font-family: 'PT Sans', sans-serif;
}

@media (max-width: 768px) {
    /* Стили, которые будут применяться только на мобильных устройствах */
    header .header__address {
        display: none; /* Скрыть элемент с классом "mobile-part" */
    }
    header .header__social-icons{
        display: none;
    }
}


