.header {
    padding: 5 px;  
}

.header__address{
    background-color: red; 
    font-family: 'PT Sans', sans-serif;
    color:white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.header__contact-link{
    color: white;
}

.header__navbar{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    
    
}

.header__logo-img{
    margin: 10px; /* Опциональные отступы между элементами */
    padding: 15px;
}

.header__nav{
    display: flex;
    text-align: center;
}

.header__logo-img{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header__contacts{
    background-color: #000000;
    font-family: 'PT Sans', sans-serif;
}



