.arrivals {
  padding-top: 90px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
  text-decoration: none;
}

.arrivals__header {
  text-align: center;
  justify-content: center;
  display: block;
  height: auto;
  width: auto;
}
.arrivals__title {
  display: block;
  height: auto;
  width: auto;
  font-size: 2.375rem;
  color: var(--custom-black);
  font-family: "bebasNeue";
  font-weight: 400;
}

.arrivals__title-dot {
  color: var(--red-color);
}

.arrivals__divider {
  margin-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: left;
}

.arrivals__divider-icon {
  width: 33%;
  height: 2px;
  background-color: var(--wcu-advantages-hr-color);
}

.arrivals__text {
  display: block;
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
  font-family: "PTSans1", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--custom-gray);
  }

.arrivals__link {
text-decoration: none;
}
.arrivals__button {
  display: block;
  margin-left: 70px;
  margin-right: 90px;
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 10px;
  font-family: "PTSans1";
  font-weight: bold;
  background-color: var(--white-color);
  color: var(--custom-black);
  text-align: center;
  border-width: 2px;
  border-radius: 0;
  border-color: var(--custom-black);
  border-style: solid;
  position: relative;
  }

.arrivals__items {
  margin-left: 35px;
  margin-right: 20px;
}

.arrivals__item-title-link {
  text-decoration: none;
  color: var(--custom-gray);
}

.arrivals__item-title {
  font-family: "PTSans1", sans-serif;
  font-size: 1.125rem;
  color: var(--custom-gray);
}

.arrivals__item-price {
  font-family: "PTSans1", sans-serif;
  color: var(--red-color);
  font-weight: bold;
  font-size: 1.125rem;
}

.arrivals__item-button {
  font-family: "PTSans1";
  background-color: var(--custom-black);
  text-align: center;
  width: 130px;
  height: 50px;
  color: white;
  font-size: 0.9375rem;
  font-weight: 600;
}
