.promo {
  background-image: url(../img/promo-img.png);
  display: flex;
  flex-direction: column;
  width: 100%;
  background-position: center;
}

.promo__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 215px;
  justify-content: flex-end;
  padding: 35px;
  align-items: center;
}

.promo__wrapper-label {
  display: flex;
  width: 27%;
  font-weight: bold;
}

.promo__wrapper-label-text {
  margin: 0 7px;
  font-weight: bold;
}

.promo__wrapper-label-text span {
  font-weight: bold;
  color: var(--red-color);
  font-size: 20px;
}

.promo__wrapper-label-img {
  margin: 7px;
  align-items: center;
  display: flex;
}

.promo__wrapper-form {
  align-items: center;
  text-align: center;
  width: 25%;
}

.promo__wrapper-form-input {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  height: 50px;
  text-align: center;
}
.promo__wrapper-form-input label {
  width: 100%;
}

.promo__wrapper-form-btn {
  height: 50px;
  border: none;
  border-radius: 1px;
  width: 100%;
  background-color: var(--red-color);
  color: var(--white-color);
}

.promo__wrapper-form-btn:hover {
  transition: all 0.3s ease;
  background-color: var(--custom-black);
}

@media (max-width: 768px) {
  .promo__wrapper {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }

  .promo__wrapper-label,
  .promo__wrapper-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .promo__wrapper-form {
    flex-direction: column;
  }

  .promo__wrapper-form-input {
    width: 100%;
    margin: 5px 0;
  }

  .promo__wrapper-form-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
