.blog {
  padding-top: 90px;
  padding-bottom: 90px;
  display: block;
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
}
.blog__header {
  text-align: center;
    margin-bottom: -10px;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
.blog__header-title {
  text-align: center;
  font-family: "bebasNeue", cursive;
  font-size: 52px;
  color: var(--custom-black);
}
.blog__header-title-dot {
  color: var(--red-color);
}
.blog__divider {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.blog__divider-item {
  height: 2px;
  width: 8%;
  background-color: var(--wcu-advantages-hr-color);
}
.blog__subtitle {
  text-align: center;
  color: var(--custom-gray);
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
}
.blog__cards {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.blog__cards-card-image img {
  width: 100%;
  height: auto;
}
/* Card date styling */
.blog__cards-card-date {
  color: var(--custom-black);
  padding-top: 15px;
  font-family: "bebasNeue", cursive;
  font-size: 12px;
}

/* Card title styling */
.blog__cards-card-title a {
  color: var(--custom-black);
  text-decoration: none;
  font-family: "bebasNeue", cursive;
  font-size: 24px;
}

.blog__cards-card-title a:hover {
  text-decoration: none;
}
.blog__cards-card-title a:hover {
  color: var(--custom-black); /* Maintains the color */
  text-decoration: underline; /* Adds an underline */
}

/* Card text styling */
.blog__cards-card-text p {
  color: var(--custom-gray);
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}
.blog__cards-card-text a {
  text-decoration: none;
}
.blog__cards-card-text a:hover {
  color: var(--custom-gray); /* Maintains the color */
  text-decoration: underline; /* Adds an underline */
}
/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .blog__cards {
    flex-direction: row;
    justify-content: space-between;
  }

  .blog__cards-card {
    width: calc(33.33% - 20px);
  }
}
