.about-us__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about-us__text-icon {
  font-size: 20px;
  padding: 0 160px;
}

.about-us {
  font-family: "bebasNeue";
  background-color: var(--custom-black);
}

.about-us__icon {
  width: 80px;
  display: flex;
}

.about-us__foto {
  height: 100%;
  object-fit: cover;
    margin-right: 20px;
}

.about-us__red-dot {
  color: var(--red-color);
}

.about-us__entry {
  font-size: 55px;
  color: var(--white-color);
  text-align: left;
}

.about-us__text {
  color: var(--white-color);
}

.about-us__strip {
  height: 3px;
  width: 15%;
  background-color: var(--red-color);
  border-color: var(--red-color);
}
