/* @media (min-width: 800px) {
	/* .promo__wrapper {
	  height: 215px;
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-end;
	  align-items: center;
	  background-position: center;
	  background-image: url(/img/promo-img.png);
	} */

	/* .promo__wrapper {
		display: flex;
		flex-direction: column;
		
		background-position: center;
		width: 100%;
		height: 380px;
		justify-content: end;
		padding: 35px;
  	} */


@media (min-width: 800px) {
	.promo__wrapper
 {
	  height: 215px;
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-end;
	  align-items: center;
	  background-position: center;
	  display: flex;
	  flex-direction: column;
	  background-image: url(../img/offer-img.png);
	  background-position: center;
	  width: 100%;
	  height: 380px;
	  justify-content: end;
	  padding: 35px;
	}
 }
  
 *, p, ul
 {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
 }