.contacts__main {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.contacts__title {
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  color: #222323;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.contacts__text {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #717474;
  text-decoration: none;
}
.map {
  position: relative;
  background-color: white;
}
