.contacts_main {
    
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.contacts_title {
    font-family: Bebas Neue, cursive;
    font-size: 45px;
    color: #222323;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.contacts_text {
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    color: #717474;
    text-decoration: none;
}
.map {
    width: 100%;
      height: 400px;
      
  }

