.row__column {
  display: flex;
 
}
.row__column--item-button {
  align-self: self-start;
}
.mid-season-sale__container {
  padding-left: 5px;
  padding-right: 5px;
}
.row__column--image {
  width: 100%;
}

.mid-season-sale__row {
  
  margin: 20px;
}
.mid-season-sale__header {
  padding-top: 40px;
  text-align: center;
  font-family: "bebasNeue";
  color: var(--custom-black);
  font-weight: 500;
  font-size: 38px;
}
.mid-season-sale__dot {
  padding-top: 25px;
  margin-top: 25px;
  color: var(--red-color);
  font-size: 40px;
}
.mid-season-sale__subtitle {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--custom-gray);
  font-size: 20px;
  font-family: "PTSans1";
  margin-top: 15px;
  margin-bottom: 25px;
}
.row__column--item-name {
  color: var(--custom-gray);
  font-size: 18px;
  font-family: "PTSans1";
}
.row__column--item-price {
  color: var(--red-color);
  font-weight: bold;
  font-size: 18px;
}
.row__column--item-button {
  background-color: var(--custom-black);
  text-align: center;
  width: 130px;
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
/* .mid-season-sale {
  display: flex;
  flex-direction: column;
}
.row__column {
  align-self: center;
} */
