.arrivals {
  padding-top: 90px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
}

.arrivals__header {
  text-align: left;
  justify-content: left;
  display: block;
  height: auto;
  width: auto;
}
.arrivals__title {
  text-align: left;
  justify-content: left;
  padding-left: 70px;
  display: block;
  height: auto;
  width: auto;
  font-size: 2.375rem;
  color: var(--custom-black);
  font-family: "bebasNeue";
  font-weight: 400;
}

.arrivals__title-dot {
  color: var(--red-color);
}

.arrivals__divider {
  margin-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: left;
}

.arrivals__divider-icon {
  width: 33%;
  height: 2px;
  background-color: var(--wcu-advantages-hr-color);
}

.arrivals__text {
  display: block;
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
  font-family: "PTSans1", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--custom-gray);
  }

.arrivals__link {
text-decoration: none;
}
.arrivals__button {
  display: block;
  height: 50px;
  width: 145px;
  margin-left: 70px;
  margin-right: 90px;
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 10px;
  font-family: "PTSans1";
  font-weight: bold;
  background-color: var(--white-color);
  color: var(--custom-black);
  text-align: center;
  border-width: 2px;
  border-radius: 0;
  border-color: var(--custom-black);
  border-style: solid;
  position: relative;
  }

.arrivals__button:hover {
  background-color: var(--custom-black);
  color: var(--white-color);
}

.arrivals__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 20px;
}

.arrivals__item {
  flex: 1 1 calc(50% - 20px);
  margin-bottom: 50px; 
  padding: 20px;
  }

.arrivals__item-title-link {
  text-decoration: none;
  color: var(--custom-gray);
}

.arrivals__item-title {
  font-family: "PTSans1", sans-serif;
  font-size: 1.125rem;
  color: var(--custom-gray);
}

.arrivals__item-price {
  font-family: "PTSans1", sans-serif;
  color: var(--red-color);
  font-weight: bold;
  font-size: 1.125rem;
}

.arrivals__item-button {
  font-family: "PTSans1";
  background-color: var(--custom-black);
  text-align: center;
  width: 130px;
  height: 50px;
  color: white;
  font-size: 0.9375rem;
  font-weight: 600;
}

.arrivals__carousel-button {
  border: none;
  cursor: pointer;
  outline: none;
}

.arrivals__carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrivals__carousel-button svg {
  fill: black;
  width: 24px;
  height: 24px;
}

.arrivals__carousel-button--previous {
  transform: rotate(180deg); 
}

.arrivals__carousel-button--next {
  transform: rotate(0deg); 
}

.arrivals__carousel-wrapper {
  position: relative;
}

.arrivals__carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--white-color);
  border-radius: 50%;
  padding: 12px;
}

.arrivals__carousel-button:first-child {
  left: 0;
}

.arrivals__carousel-button:last-child {
  right: 0;
}

@media (min-width: 768px) {
.arrivals__item {
  flex-basis: 50%;
  flex-direction: row;
}
}

@media (min-width: 1002px) {
    .arrivals__header,
    .arrivals__item {
    flex: 0 1 calc(20% - 15px);
    margin-bottom: 20px; 
    padding: 15px;
    }

  .arrivals__items {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .arrivals__content {
      display: flex;
      flex-direction: row;
      flex-basis: 20%;
      justify-content: space-between;
      margin-top: 0;
      padding: 5px;
    }

}


