.arrivals header {
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.arrivals h2 {
  display: inline;
  height: auto;
  width: auto;
  font-size: 38px;
  color: var(--custom-black);
  font-family: "bebasNeue";
  font-weight: 400;
}

.arrivals__title-dot {
  color: var(--red-color);
}

.arrivals__text {
  font-family: "PTSans1", sans-serif;
  font-size: 20px;
  color: var(--custom-gray);
}

.arrivals__item-title {
  font-family: "PTSans1", sans-serif;
  font-size: 18px;
  color: var(--custom-gray);
}
.arrivals__item-price {
  font-family: "PTSans1", sans-serif;
  color: var(--red-color);
  font-weight: bold;
  font-size: 18px;
}

.arrivals__item-button {
  font-family: "PTSans1";
  background-color: var(--custom-black);
  text-align: center;
  width: 130px;
  height: 50px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
