@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')
h2
{ 
    color: var(--custom-black);
    font-family: "bebasNeue";
}

.arrivals__title-dot 
{
    color: #F40106; 
}

p 
{
    font-family: "PTSans1";
}